app.port =
app.jwtkey =

DB_HOST=
DB_NAME=
DB_PORT=
DB_USER=
DB_PASSWORD=

database.driver =

database.dbhost = 
database.dbname = 
database.dbport = 
database.user = 
database.password = 

openapi.musixmatch = 
openapi.musixmatchurl = 