app.port =
app.jwtkey = 


database.driver = 
database.dburl = 
database.user = 
database.password = 
database.dbname = 
database.dbhost = 
database.dbport = 

log.driver = 

openapi.musixmatch = 
openapi.musixmatchurl = 